{% extends 'base.html' %}

 {% block content %}

 <div class="jumbotron">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmmcKUm5rlAsS0gRLURJUAaUibj7Mmq9ZpYQAbsv7o4cI7vjiy7w">
   <h1>Please put some text here.</h1>
   <p class="lead">If you want, you can add some text here as well. Or not.</p>
   <a class="btn btn-large btn-success" href="contact">Contact us today to get started</a><br/><br/><br/>
   <a href="https://twitter.com/RealPython" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @RealPython</a>
   <script>
   !function(d,s,id){
       var js,fjs=d.getElementsByTagName(s)[0],
       p=/^http:/.test(d.location)?
       'http':'https';if(!d.getElementById(id))
       {js=d.createElement(s);
       js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
       fjs.parentNode.insertBefore(js,fjs);}}
       (document, 'script', 'twitter-wjs');
   </script>
   &nbsp;&nbsp;&nbsp;&nbsp;
   <a href="https://twitter.com/intent/tweet?screen_name=RealPython" class="twitter-mention-button" data-size="large">Send us a Tweet to @RealPython</a>
   <script>
   !function(d,s,id){
       var js,fjs=d.getElementsByTagName(s)[0],
       p=/^http:/.test(d.location)?
       'http':'https';if(!d.getElementById(id))
       {js=d.createElement(s);
       js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
       fjs.parentNode.insertBefore(js,fjs);}}
       (document, 'script', 'twitter-wjs');
   </script>
   &nbsp;&nbsp;&nbsp;&nbsp;
   <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.realpython.com" data-text="Django for the Non-Programmer #realpython -" data-size="large">Share!</a>
   <script>
   !function(d,s,id){
       var js,fjs=d.getElementsByTagName(s)[0],
       p=/^http:/.test(d.location)?
       'http':'https';if(!d.getElementById(id))
       {js=d.createElement(s);
       js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
       fjs.parentNode.insertBefore(js,fjs);}}
       (document, 'script', 'twitter-wjs');
   </script>
 </div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h3>(1) One</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
    <h3>(2) Two</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
    <h3>(3) Three</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
</div>

  <div class="span6">
    <h3>(4) Four</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
    <h3>(5) Five</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
    <h3>(6) Six</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut dui ac nisi vestibulum accumsan. Praesent gravida nulla vitae arcu blandit, non congue elit tempus. Suspendisse quis vestibulum diam.</p>
  </div>

</div>

{% endblock %}
