<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to FlaskTaskr!!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link href="{{ url_for('users.static', filename='bootstrap.css') }}" rel="stylesheet">
    <style> body { padding-top: 65px; } </style>
  </head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="/">FlaskTaskr</a>
              <div class="nav-collapse">
                <ul class="nav">
                </ul>
                <ul class="nav pull-right">
                  {% if not session.logged_in %}
                    <li><a href="{{ url_for('users.register') }}">Signup</a></li>
                  {% else %}
                    <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
    </div>
    <div class="new">
        <div class="content">
          {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
            <br/>
          {% endfor %}
          {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
          {% endif %}
          {% block content %}
          {% endblock %}
        </div>
    </div>
    <footer class="footer">
        <hr>
        <p>&copy; FlaskTaskr</p>
    </footer>
  </body>
</html>