{% extends "_base.html" %}
{% block content %}

<h1>Welcome to FlaskTaskr.</h1>
<h3>Please register to access the task list.</h3>
<form method="POST" action="/register/">
  {{ form.csrf_token }}
  <p>
    {{ form.name(placeholder="name") }}
    {% if form.name.errors %}
      <span class="error">
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </p>
  <p>
    {{ form.email(placeholder="email address") }}
    {% if form.email.errors %}
      <span class="error">
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </p>
  <p>
    {{ form.password(placeholder="password") }}
    {% if form.password.errors %}
      <span class="error">
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </p>
  <p>
    {{ form.confirm(placeholder="confirm password") }}
    {% if form.confirm.errors %}
      <span class="error">
        {% for error in form.confirm.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </p>
  <button class="btn btn-sm btn-success" type="submit">Register</button>
  <br>
  <p><em>Already registered?</em> Click <a href="/">here</a> to login.</p>
</form>

{% endblock %}