{% extends "template.html" %}
{% block content %}
  <h1>Welcome to FlaskTaskr</h1>
  <a href="/logout">Logout</a>
  <div class="add-task">
    <h3>Add a new task:</h3>
    <table>
      <tr>
        <form action="{{ url_for('new_task') }}" method="post">
          <td>
            <label>Task Name:</label>
            <input name="name" type="text">
          </td>
          <td>
            <label>Due Date (mm/dd/yyyy):</label>
            <input name="due_date" type="text" width="120px">
          </td>
          <td>
            <label>Priority:</label>
            <select name="priority" width="100px">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </td>
          <td>
            &nbsp;
            &nbsp;
            <input class="button" type="submit" value="Save">
          </td>
        </form>
      </tr>
    </table>
  </div>
  <div class="entries">
    <br>
    <br>
    <h2>Open tasks:</h2>
    <div class="datagrid">
      <table>
        <thead>
          <tr>
            <th width="300px"><strong>Task Name</strong></th>
            <th width="100px"><strong>Due Date</strong></th>
            <th width="50px"><strong>Priority</strong></th>
            <th><strong>Actions</strong></th>
          </tr>
        </thead>
        {% for o in open_tasks %}
          <tr>
            <td width="300px">{{ o.name }}</td>
            <td width="100px">{{ o.due_date }}</td>
            <td width="50px">{{ o.priority }}</td>
            <td>
              <a href="{{ url_for('delete_entry', task_id = o.task_id) }}">Delete</a>  -
              <a href="{{ url_for('complete', task_id = o.task_id) }}">Mark as Complete</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <br>
    <br>
  </div>
  <div class="entries">
    <h2>Closed tasks:</h2>
    <div class="datagrid">
      <table>
        <thead>
        <tr>
          <th width="300px"><strong>Task Name</strong></th>
          <th width="100px"><strong>Due Date</strong></th>
          <th width="50px"><strong>Priority</strong></th>
          <th><strong>Actions</strong></th>
          </tr>
        </thead>
        {% for c in closed_tasks %}
          <tr>
            <td width="300px">{{ c.name }}</td>
            <td width="100px">{{ c.due_date }}</td>
            <td width="50px">{{ c.priority }}</td>
          <td>
            <a href="{{ url_for('delete_entry', task_id = c.task_id) }}">Delete</a>
          </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}