{% extends "template.html" %}

{% block content %}

<h1>Welcome to FlaskTaskr.</h1>
<form class="form-signin" role="form" method="post" action="">
  <div class="lead">Please register to start a task list</div>
  {{ form.csrf_token }}
  <p>
    {{ form.name(placeholder="name") }}
    <span class="error">
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
    {{ form.email(placeholder="email address") }}
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
    {{ form.password(placeholder="password") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
    {{ form.confirm(placeholder="confirm password") }}
    <span class="error">
      {% if form.confirm.errors %}
        {% for error in form.confirm.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-sm btn-success" type="submit">Register</button>
  <br>
  <br>
  <p><em>Already registered?</em> Click <a href="/">here</a> to login.</p>
</form>

{% endblock %}