{% extends "_base.html" %}
{% block content %}

  <h1>Welcome to FlaskTaskr.</h1>
  <h3>Please login to access your task list.</h3>

  <form method="post" action="/">
    {{ form.csrf_token }}
    <div>
      {{ form.name.label }}
      {{ form.name }}
    </div>
    <div>
      {{ form.password.label }}
      {{ form.password }}
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>

  <div>
    <em>Need an account? </em><a href="/register">Signup!!</a>
  </div>

{% endblock %}
