{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>Flask - BDD</h1>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% if session.logged_in %}
    <br><br>
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Title:
        <dd><input type="text" size="30" name="title">
        <dt>Text:
        <dd><textarea name="text" rows="5" cols="40"></textarea>
        <br>
        <br>
        <dd><input type="submit" class="btn btn-default" value="Share">
      </dl>
    </form>
  {% endif %}
  <ul>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>No entries yet. Add some!</em>
  {% endfor %}
  </ul>
</div>
  
{% endblock %}