{% extends "_base.html" %}

{% block content %}

<h1>Welcome to FlaskTaskr.</h1>
<h3>Please sign in to access your task list</h3>

<form class="form-signin" role="form" method="post" action="/">
  {{ form.csrf_token }}
  <div class="input-group">
    {{ form.name(placeholder="user name") }}
    {% if form.name.errors %}
      <span class="error">
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <div class="input-group">
    {{ form.password(placeholder="password") }}
    {% if form.password.errors %}
      <span class="error">
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <button class="btn btn-sm btn-success" type="submit">Sign in</button>
  <br>
  <br>
  <p><em>Need an account?</em><a href="/register">Signup!!</a></p>
</form>

{% endblock %}
